<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Book List</h4>
                    <p class="card-category"> Here is a list of books in our web site</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                              <th scope="col">title</th>
                              <th scope="col">author</th>
                              <th scope="col">Price</th>
                              <th scope="col">publisingDate</th>
                              <th scope="col">available</th>
                              <th scope="col">quantity</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let book of Books; let i = index">
                                  <td>{{book.title}}</td>
                                  <td>{{book.author}}</td>
                                  <td>{{book.price}}</td>
                                  <td>{{book.publisingDate}}</td>
                                  <td>{{book.available}}</td>
                                  <td>{{book.quantity}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>

  </div>
</div>
